appnope==0.1.2
backcall==0.2.0
bson==0.5.10
cycler==0.10.0
decorator==4.4.2
eventkit==0.8.6
ib-insync==0.9.64
interval==1.0.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
kiwisolver==1.3.1
loguru==0.5.3
matplotlib==3.3.4
nest-asyncio==1.5.1
numpy==1.20.1
pandas==1.2.2
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.14
ptyprocess==0.7.0
Pygments==2.7.4
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySide2==5.15.2
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.2
shiboken2==5.15.2
six==1.15.0
SQLAlchemy==1.3.23
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
